html {
  background-color: #eee;
} 
h1, h2 {
  font-family: NotoSansDisplay;
  margin-top: 0px;
/*         display: inline-block; */
  left: auto;
  font-size: 4em;
  color: #0a84ff;
}
h2 {
  font-size: xx-large;
  margin-bottom: 0px;
}
h2 > span {
  font-size: 1.25em !important;
  position: relative;
  top: 0.24em;
}
hr {
  border: 2px solid #000;
  border-radius: 4px;
}
body {
  text-align: center;
  overflow: hidden; /* Hide scrollbars */
}
#mainDiv{
/*         text-align: center; */
  display: inline-block;
  animation-name: mainanim;
  position: relative;
  top: 0vh;
  animation-duration: 0.5s;
  width: 95vw;
  overflow-y:auto;
  overflow-x:hidden;
}
@keyframes mainanim {
  0%   {top:80vh; opacity: 0;}
/*         3% {opacity: 0.02} */
  50% {opacity: 0.4}
  100% {top:0vh; opacity: 1}
}


hr.rounded {
  border: 3px solid #0e0;
  width: 90vw;
  border-radius: 5px;
}
button, select, #loginDIV {
  width: 89vw;
  height: 2.5em;
  border: none;
  border-radius: 3vh;
  font-size: 2em;
  background-color: #eee; 
  color: #0a84ff;
  transition: background-color 0.5s ease-in-out;
  background-color: #eee;
  text-align: center;
}
select {
  width: 8.5em;
  height: 70%;
  font-size: 1.95em;
  border: 1px solid #eee;
  border-radius: 10px;
}
hr.btnHr, hr.inpHr {
  opacity: 0;
  position: relative;
  margin: 10px;
  width: 1vh;
  display: block;
  transition: all 0.5s ease-in-out;
/*   margin-top: 0px; */
/*   z-index: 2; */
}
hr.inpHr {
  display:block;
}
hr.btnHr {
  top: 10%;
  left: auto;
  margin: 0 auto;
}
#userDiv:hover > hr.inpHr,
#pwdDiv:hover > hr.inpHr,
#pwdDiv2:hover > hr.inpHr,
#danger:hover > hr.inpHr,
input:focus + hr{
  position: relative;
/*         right: auto; */
  display: block;
  opacity: 1;
  left: -0.5em;
  animation-name: buttonHover;
  animation-duration: 0.5s;
  width: calc(100%);
  cursor: text;
}

#userDiv, #pwdDiv, #pwdDiv2, p, input {
  text-align: left;
}

input {
  background: none;
  border: none;
  outline: none;
  display: inline-block;
  height: 4vh;
  font-size: 1.8em;
  width: calc(100%);
}
p {
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: left;
  display: inline-block;
  font-family: NotoSansDisplay;
  color: #0a84ff;
  font-size: 2.25em;
  width: calc(2.25em*2.2);
}

#userP, #passP {
  margin-top: 20px;
}
#loginDIV:hover > hr.btnHr, button:hover > hr.btnHr {
  position: relative;
  display: block;
  opacity: 1;
  animation-name: buttonHover2;
  animation-duration: 0.5s;
  width: 90%;
  top: 10%;
}
#loginDIV:hover {
  background-color: #f8f8f8;
}
#loginDIV:hover > button  {
  background-color: #fff;
  
}
#loginDIV{
  font-size: 1em;
  height: 120%;
  white-space: nowrap;
}
#loginDIV:hover > select {
  background-color: #fff;
  height: 100%;
}

textarea{
  width: 90vw;
  height: 55vh;
  outline: none;
}

button:hover {
  background-color: #fff;
}

button:hover > hr.btnHr{
  position: relative;
  right: auto;
  left: auto;
  
  display: block;
  opacity: 1;
  animation-name: buttonHover2;
  animation-duration: 0.5s;
  width: 90%;
  left: 0%;
}

@keyframes buttonHover {
  0% {width: 0%;}
  100% {width: calc(100% );} 
}
@keyframes buttonHover2 {
  0% {width: 0%;}
  100% {width: 90%;} 
}

a {
  font-size: 0.8em;
}


@keyframes overlayAnim {
  0% {width: 0vw;}
  50% {width: 0vw;}
  70% {width: 100vw;}
  100% {width: 100vw;}
}
div#overlay.active {
  width: 100vw;
  z-index: 2;
  height: 100vh;
  animation-name: overlayAnim;
  animation-duration: 0.7s;
  position: absolute;
  top: 0px;
  left:0px;
  background-color: #ccc;
}
div#overlay.active > span.loader {
  animation-name: loaderanim;
  animation-duration: 0.7s;
}
div#overlay {
  position: absolute;
  top: 100vh;
  left: 0px;
}
#loginBTN {
  display: inline-block;
  text-align: center;
  width: 10.8em;
  border: 1px solid #eee;
  border-radius: 10px;
}
#loginBTN:hover, select:hover {
  border: 1px solid #000;
}
@keyframes overlayAnim {
  0% {width: 0vw;}
  60% {width: 0vw;}
  100% {width: 100vw;}
}
@keyframes loaderAnim {
  0% {left: -50%;}
  60% {left: -50%;}
  100% {left: 50%;}
}
.overload {
  animation-name: overloadAnim;
  z-index: 3;
  top: 20vh;
  position: absolute;
  animation-duration: 4s;
  width: 100%;
}
.beforeoverload {
  position: absolute;
  top: 100vh;
  width: 100%;
}

@keyframes overloadAnim {
  0% {top: 100vh; opacity: 0;}
  70% {top: 100vh; opacity: 0;}
  100% {top: 20vh; opacity: 1;}
}

@font-face { 
  font-family: NotoSansDisplay; 
  src: url('../NotoSansDisplay-Variable.ttf'), local('Courier New'); 
  font-display: swap;
}
#alert {
  position:absolute;
  top: 100vh;
  left: 0px;
  width: 100vw;
  height: 200vh;
  animation-duration:0.5s; 
  z-index: 4;
  background-color: #eee;
}
@keyframes incoming {
  0% {top: 100vh }
  100% { top: 0vh}
}

@keyframes outgoing {
  0% {top: 0vh }
  100% { top: 100vh}
}

#alerttxt {
  width:100%;
  height: 2.25em;
  text-align: center;
  position: relative;
  left: auto;
  top: calc(50vh - 0.5em);
}

 .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}