html {
  --system-red: #ee0000;
  --system-red2: rgba(238, 0, 0, 0.1);
  --system-blue:#0a84ff;
  --system-blue2: rgba(10, 132, 255, 0.1);
  --system-blue3: rgba(10, 132, 255, 0.4);
  --system-green: #00cc00;
  --system-green2: rgba(0, 255, 0, 0.1);
  --max-green: #00ef00;
  --system-yellow: #FFCC1F;
  --system-yellow2:rgba(255, 204, 31, 0.1);
  --system-grey: #8c8c8c;
  --system-grey2:rgba(140, 140, 140, 0.1);
  --system-bg: #eee;
  --system-overlay: rgba(200, 200, 200, 0.95);
  --system-transp: rgba(0, 0, 0, 0);
  transition: all 1s ease-in-out;
  font-family: 'Noto Sans Display', monospace;
}

.dark {
  --system-bg: #222;
  --system-grey: #bfbfbf;
  --system-grey2:rgba(191, 191, 191, 0.1);
  --system-red2: rgba(238, 0, 0, 0.25);
  --system-blue2: rgba(12, 200, 255, 0.25);
  --system-blue3: rgba(12, 200, 255, 0.5);
  --system-green2: rgba(0, 255, 0, 0.25);
  --system-yellow2:rgba(255, 204, 31, 0.25);
  --system-overlay: rgba(52, 52, 52, 0.95);
  --system-blue: #0cc8fe;
}

body {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  overflow: clip;
  background-color: var(--system-bg);
}

hr.rounded {
  border: 3px solid var(--max-green);
  width: 90vw;
  border-radius: 5px;
}

hr.redrounded {
  border: 3px solid var(--system-red);
  width: 90vw;
  border-radius: 5px;
}

.main_content {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
/*   transition: all 0.5s ease-in-out; */
  overflow: auto;
}

h1, p, h2 {
  color: var(--system-blue);
}

h2 {
  font-size: 4em;
  font-variant-caps: small-caps;
  min-height: 1.2em;
  margin: 0px 10px;
}

.btn {
  display: inline-block;
  border-radius: 15px;
  background-color: var(--system-grey2)/*rgba(210, 210, 210, 0.2)*/;
  border: none;
  color: var(--system-blue);
  transition: all 0.7s ease-in;
  font-size: 2.5em;
/*   width: max(33%, 7em); */
  overflow-wrap: break-word;
  min-height: 1em;
  padding: 20px;
  padding-bottom: 12px;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
}
.btn:hover {
  background-color: var(--system-blue2);
}
.btn:hover>div.anim {
  width: 90%;
  opacity: 1;
}
.btn > .material-symbols-outlined {
  cursor: pointer;
}
input:focus + div.anim,
input:hover + div.anim,
select:focus + div.anim,
select:hover + div.anim,
div.inpContainer:hover > div.anim {
  width: 100%;
  opacity: 1;
}
div.anim {
  display: block;
  height: 0px;
  width: 0px;
  opacity: 0;
  border: 2.3px solid var(--system-blue);
  margin: 10px auto;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
}

div.anim.inp {
  margin-left: 0px;
}

.szThird {
  width: max(26%, 5.2em);
}
.szHalf{
  width: max(42%, 7em);
}
.szTwoThirds {
  width: max(58%, 10em);
}
.szFull {
  width: max(88%, 10em)
}

.grn {
  color: var(--system-green);
}
.grn:hover {
  background-color: var(--system-green2);
}
.grn > .anim {
  border: 2.3px solid var(--system-green);
}
.ylw {
  color: var(--system-yellow);
}
.ylw:hover {
  background-color: var(--system-yellow2);
/*   color: #000; */
}
.ylw > .anim{
  border: 2.3px solid var(--system-yellow);
}
.red {
  color: var(--system-red);
  border: 3px solid var(--system-red);
}
.red:hover {
  background-color: var(--system-red2);
}
.red > .anim {
  border: 2.3px solid var(--system-red);
}

.gry {
  color: var(--system-grey);
}
.gry:hover {
  background-color: var(--system-grey2);
}
.gry > .anim {
  border: 2.3px solid var(--system-grey);
}

.blu {
  color: var(--system-blue);
}
.blu:hover {
  background-color: var(--system-blue2);
}
.blu > .anim {
  border: 2.3px solid var(--system-blue);
}
.nohover:hover {
  background-color: unset !important;
}

.roundhover {
  transition: all 0.2s ease-in-out;
}
.roundhover:hover {
  border-radius: 20%;
  
}

.nooutline {
  border: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48;
  font-size: 1.25em !important;
  position: relative;
  top: 10px;
  cursor: default;
}

input, select {
  border: 3px solid var(--system-bg);
  background-color: var(--system-bg);
  height: 1.6em;
  outline: none;
  font-size: 2.5em;
  font-weight: 500;
  color: var(--system-blue);
  font-family: 'Noto Sans Display';
  transition: 0.2s all ease-in-out;
  border-radius: 10px;
  width: 100%;
  cursor: text;
}

input[type=checkbox] {
  cursor: pointer;
  width: 0.6em;
  height: 0.6em;
  margin-right: 0.3em;
  background-color: var(--system-blue);
}

input[type=checkbox]:active + span, 
input[type=checkbox]:focus + span,
input[type=checkbox]:hover + span{
  text-decoration-line: underline;
}

a:active {
  color: var(--system-blue3) !important;
}

label {
  cursor: pointer;
}

select {
  cursor: pointer;
}

option {
  font-family: 'Noto Sans Display';
}

input:focus, select:focus {
  border: 3px solid var(--system-blue);
/*   cursor: text; */
}

div.inpContainer {
  text-align: left;
  margin: 0px 5%;
}

span.material-symbols-outlined {
  max-width:1.4em;
  font-variant-caps: normal !important;
}

.overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  text-align: center;
  transition: all 0.5s ease-in-out;
  background-color: var(--system-overlay);
  top: 500vh;
  z-index: 1;
}
#alerttext {
  height: 75%;
  border-radius: 20px;
  background-color: var(--system-bg);
  margin-bottom: 0px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: 20px;
}
.overlay .internal {
  margin: auto;
  height: 100%;
}

.fssml {
  font-size: 1em;
}
.fssml1 .material-symbols-outlined {
  top: 5px;
}

.fssml2 {
  font-size: 1.5em;
}

.fssml2 .material-symbols-outlined {
  top: 7px;
}
.fsmed {
  font-size: 2em;
}
.fslg {
  font-size: 4em;
}

textarea {
  width: 90%;
  height: 50vh;
  color: var(--system-blue);
  font-family:"Noto Sans Mono";
  border: 2px solid var(--system-blue);
  border-radius: 10px;
  resize: vertical;
  background-color: var(--system-grey2);
}

.cancel {
  top: calc(100% - 9em);
  position: relative;
}



footer, #footer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.overlayLoader {
  transition: all 0.25s ease-out;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0vh;
  opacity: 1;
  z-index: 1;
  background-color: var(--system-grey2);
  pointer-events: none;
}

.loader {
  pointer-events: none;
  font-size: 10em !important;
  color: var(--system-blue);
  position: relative;
  top: 50%;
  left: calc(50% - 0.5em);
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.loadp {
  margin: 0 auto;
  pointer-events: none;
  width: 500px;
  text-align: center;
  position: relative;
  display: block;
  top: 2em;
}

@media screen and (max-width: 600px) {
  .alertlbl {
    display: none;
  }
  .internal .btn {
    width: 3em;
  }
  
/*   .btn span {
    display: inline-block;
  }
  .btn anim {
    display: block;
  } */
}

@media screen and (max-width: 800px) {
  .btn:not(.override) {
    font-size: 0px;
    min-width: 0px;
    width: unset;
  }
  .btn span.material-symbols-outlined:not(.override) {
    font-size: 60px !important;
  }

  .btn div.anim {
    margin-top: 15px;
  }
}

#compliance {
  transition: all 0.7s ease-in-out; /*cubic-bezier( 1, 0.33, 0.3, 1.24 );/*ease-in-out;*/
/*   transition-delay: 3s; */
  position: absolute;
  padding: 60px;
/*   top: 100vh; */
  bottom: -200vh;
  background-color: var(--system-overlay);
  border-radius: 30px 30px 0px 0px;
  width: calc(100% - 120px);
  max-height: 50vh;
  /* ove */
  overflow-y: auto;
}



/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--system-bg);
}

#compliance p {
  text-align: left;
  margin: 0px;
}