

#msgArea a, #msgArea p, 
#msgArea span:not(.options span):not(.material-symbols-outlined){
  color: var(--system-black);
}

#msgArea b {
  color: #000;
}
#msgArea {
  /* width: calc(85% - 20px); */
  /* height: 77vh; */
  /* flex-shrink: 1; */
  /* flex-grow: 2; */
  /* height: 77vh; */
  width: 100%;
  /* float: left; */
  border: 2px solid var(--system-blue);
  text-align: left;
  padding: 10px;
  word-wrap: break-word;
  overflow-y: auto;
  overflow-x: clip;
  white-space: normal;
  border-radius: 10px;
}

#restoreSidebar span.material-symbols-outlined, #closeSidebar span.material-symbols-outlined {
  position: static;
  display: inline-block;
  vertical-align: middle;
}
#restoreSidebar, #closeSidebar {
  position: absolute;
  right: 5px;
  /* display: none; */
  top: 5px;
  z-index: 1;
  padding: 3px;
  margin: 5px;
  font-size: 30px;
  border-radius: 5px;
}
#closeSidebar {
  position: static;
  /* right: revert; */
  /* left: revert; */
}
.sidebarOpen + #restoreSidebar {
  display: none;
}

#alias {
  height: unset;
  font-size: 16px;
  width: unset;
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  background-color: var(--system-grey2);
  padding: 3px;
}

#alias:focus {
  outline: none;
}

#userList, #botList {
  flex-grow: 1;
  border-radius: 10px;
  /* width: calc(12% - 20px); */
  /* height: 77vh; */
  /* height: calc(77vh - 12px - 2em); */
  /* float: right; */
  border: 2px solid var(--system-blue);
  text-align: left;
  word-wrap: break-word;
  overflow-y: auto;
  padding: 10px;
  white-space: normal;
}

#msgInp:focus {
  outline: none;
}

#bottomInput {
  border-bottom: 3px solid var(--system-green);
  height: fit-content;
}
#msgInp, #msg-text {
  /* height: 100%; */
  width: calc(100% - 13px);
  font-size: 16px;
  border-radius: 5px;
  color: var(--system-blue);
  padding: 5px;
  /* border- */
  margin: 5px;
  font-family:'Noto Sans Display', monospace;
  margin-right: 0px;
  margin-top: 0px;
  word-wrap: break-word;
}
#msgInp {
  position: absolute;
  top: 0px;
  resize: none;
  left: 0px;
  height: calc(100% - 10px);
}
#resizeParent2 {
  height: fit-content;
}
#msg-text {
  height: fit-content;
  position: relative; /* must be relative to fit things*/
  visibility: hidden;
  top: 0px;
}

#containingDiv {
  white-space: nowrap;
  flex-wrap: nowrap;
  gap: 15px;
  width: 95%;
  margin: 0 auto;
  position:relative;
  height: calc(100vh - 105px);
}
h2 {
  font-size: 2em;
}
hr.rounded {
  border: 2px solid var(--system-green);
  margin-top: 0px;
}
div#container > #bottomInput {
  margin: 7px auto !important;
  width: 95%;
}
div#container > #bottomInput:before {
  content:"";
  width: 0px;
}
#bottomInput:before, #fitboxContainer:after {
  content: "|";
  font-size: 30px;
  color: var(--system-overlay);
  width: 5px;
  top: -10px;
  position: relative;
  left: -5px;
}
#fitboxContainer:after {
  top: -7px;
}

#fitboxContainer {
  height:fit-content;
  display: flex;
  flex-shrink: 0
}
#bottomInput {
  /* width: 95%; */
  display: flex;
  /* height: 35px; */
  gap: 5px;
  margin: 0px;
  margin-left: 2px;
  margin-top: 5px;
  text-align: left;
  /* border-bottom: 2px solid var(--system-transp); */
  transition: all 0.2s;
}
.anim.inp, #inpContainment, input {
  display: inline-block;
}
input {
  border: none !important;
}

#right {
  /* flex-shrink: 2; */
  width: 200px;
  display: flex;
  gap: 0px;
  flex-wrap: nowrap;
  flex-direction: column;
}
/* #right > h2 { */
  /* flex- */
/* } */
#inpContainment {
   width: calc(100% - 6.5em);
}

.time {
  display:inline-block;
  color: var(--system-grey) !important;
  /* margin-left: 20px; */
}
#msg-text, #msgInp {
  margin-left: 0px;
}
#fit-box {
  width: fit-content;
  margin-right: 5px;
  /* padding- */
  position: relative;
  /* height:fit-content; */
  /* margin-right: 0px; */
}
#alias-text {
  padding: 5px;
  font-weight: 500;
}
#fit-box > input {
  position: absolute;
  font-weight: 500;
  /* margin-top: -100px; */
  /* margin-left: -100px; */
  /* z-index: 1; */
  font-size: 16px;
  height: calc(100% - 14px);
  padding: 5px;
  width: calc(100% - 10px)
}
#fit-box > span {
  opacity: 0;
  pointer-events: none;
  white-space: pre;
  /* position: absolute; */
  /* z-index: ; */
  /* left: 0px; */
}
.time {
  margin-left: 5px;
}

#inpContainer {
  flex-shrink: 1;
  height: fit-content;
  position: relative;
  width: 100%;
  min-width: 0px;
}
/* #inpContainment > input { */
  /* width: 99%; */
  /* margin: 0px 20px 0px 0px; */
/* } */
button#sendBtn {
  /* position: relative; */
  /* top: -34px; */
  padding: 5px;
  margin-top: 0px;
  padding-top: 0px;
  min-height: 0px;
  padding-bottom: 0px;
  /* height: 100%; */
  border-radius: 5px;
  margin-left: 0px;
  /* padding-top: 0px !important; */
}

#sendBtn > span.material-symbols-outlined {
  top: unset;
  font-size: 15px !important;
}

#sendBtn > div.anim {
  margin-bottom: 0px;
}

#msgArea  a, 
#msgArea  p, 
#msgArea  span,
span {
  white-space: pre-wrap;
  display: inline-block;
  font-size: 16px;
}


b {
/*   font-family: "SupportText", "Noto Sans Display"; */
  border-radius: 2px;
  background-color: var(--system-grey2);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  margin-bottom: 10px;
  vertical-align: top;
}

md-span {
  font-size: 16px;
  font-family: 'Noto Sans Display', 'Noto Color Emoji';
}
md-span > code {
  font-family: 'Noto Sans Mono';
}
p, md-span {
  margin-left: 5px;
  margin-right: 10px;
}
.slashMe {
  margin-left: 0px;
}

p, md-span {
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 100%;
/*   margin-left: 5px; */
}
h2 > span, .supportMsg:not(.options span) {
  top: 5px;
  color: var(--system-blue) !important;
}


div.msgContainer > div.msgContainer {
  margin-left: 10px;  
}

.msgContainer {
  position:relative;
  border-radius: 5px;
}

.msgContents.new {
  animation: newMsg 60s;
}
@keyframes newMsg {
  0% {background-color: var(--system-green2);}
  100% {background-color: var(--system-transp);}
}
.bar {
  border: 1px solid var(--system-overlay);
  height: calc(100% - 3px);
  width: 0px;
  left: -6px;
  border-radius: 2px;
  position: absolute;
  top: 0px;
}
.activeReply {
  /* background-color: var(--system-blue2); */
}
.msgContainer:hover {
  outline: 1px solid var(--system-overlay);
}
.msgContainer:hover > .bar {
  border: 1px solid var(--system-grey);
}
.activeReply > .bar  {
  border: 2px solid var(--system-green) !important;
}
.msgContents {
  width: calc(100%);
  cursor:pointer;
}
.msgContainer {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  /* cursor: pointer; */
}


.msgContents > .options {
  position: absolute;
  /* display: none; */
  top: -10px;
  right:0px;
  opacity: 0;
  transition: all 0.2s ease;
  width: fit-content;
  background-color: var(--system-grey3);
  display:flex;
  flex-direction:row;
  border-radius: 5px;
  cursor: default;
  z-index:1;
}

.msgContents:hover > .options,
.activeReply > .msgContents > .options{
  opacity: 1;
}

.options > .btn {
  padding: 2px;
  height: fit-content;
  width: fit-content;
  border-radius: 5px;
  font-size: 0px;
  min-height:0px;
  background-color: var(--system-transp);
}
.options > .btn > span.material-symbols-outlined:not(.override) 
{
  position: relative;
  display:block !important;
  top: 0px;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px !important;
}

md-span.slashMe {
  padding-right: 5px; 
  border-radius: 0px 3px 3px 0px;
  background-color: var(--system-grey2);
  margin-left: 0px;
  font-style: italic;
  position: relative;
  top: 1px;
}

.slashMe > .material-symbols-outlined {
  top: 2px;
  background-color: var(--system-transp);
}

.slashMe:not(p) {
  font-style: italic;
  position: relative;
  background-color: var(--system-grey2);
  top: -1px;
}

md-span.admin, md-span.user, md-span.error, 
span.admin, span.user, span.error,
a.admin, a.user, a.error {
  display: inline-block;
  color: var(--system-blue) !important;
} 

p, md-span {
  display: inline-block;
}

md-span {
  cursor: text;
}

b.admin{
  /* color: var(--system-blue) !important;   */
}

.admin.slashMe {
  background-color: var(--system-blue2);
}
md-span.superadmin, span.superadmin, a.superadmin {
  /* color: #00df00 !important; */
  color: var(--system-blue) !important;
  /* font-variant-caps: small-caps; */
  font-size: 16px;
  /* font-size: large; */
}

.superadmin.slashMe {
  background-color: var(--system-green2);
}

/*b.superadmin*/ {
  color: var(--system-green) !important;
}

.superadmin.material-symbols-outlined {
  font-variant-caps: normal;
}

#userList, #botList {
  color: var(--system-blue) !important;
}

#userList > p, #botList > p {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  width: fit-content;
  padding: 3px;
  border-radius: 5px;
  /* padding-right: */
}
/* 
.bot {
  color: var(--system-green) !important;
} */

@font-face {
  font-family: "SupportText";
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v100/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
}
