#msgArea {
  width: calc(85% - 20px);
  height: 77vh;
  float: left;
  border: 2px solid var(--system-blue);
  text-align: left;
  padding: 10px;
  word-wrap: break-word;
  overflow-y: auto;
  white-space: normal;
  border-radius: 10px;
}
#userList {
  border-radius: 10px;
  width: calc(12% - 20px);
  height: calc(77vh - 12px - 2em);
  float: right;
  border: 2px solid var(--system-blue);
  text-align: left;
  word-wrap: break-word;
  overflow-y: auto;
  padding: 10px;
  white-space: normal;
}
#containingDiv {
  white-space: nowrap;
  width: 95%;
  margin: 0 auto;
  height: 79vh;
}
h2 {
  font-size: 2em;
}
hr.rounded {
  border: 2px solid var(--system-green);
  margin-top: 0px;
}
form {
  width: 95%;
  display: flex;
  margin: 0 auto;
  text-align: left;
}
.anim.inp, #inpContainment, input {
  display: inline-block;
}
input {
  border: none !important;
}
#inpContainment {
   width: calc(100% - 6.5em);
}
#inpContainment > input {
  width: 99%;
  margin: 0px 20px 0px 0px;
}
button#sendBtn {
  /* position: relative; */
  /* top: -34px; */
  padding-top: 0px !important;
}

#sendBtn > div.anim {
  margin-bottom: 0px;
}

#msgArea > a, 
#msgArea > p, 
#msgArea > span {
  white-space: pre-wrap;
  display: inline-block;
}
b {
/*   font-family: "SupportText", "Noto Sans Display"; */
  border-radius: 2px;
  background-color: var(--system-grey2);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  margin-bottom: 10px;
  vertical-align: top;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 100%;
/*   margin-left: 5px; */
}
h2 > span, .supportMsg {
  top: 5px;
  color: var(--system-blue);
}

p.slashMe {
  padding-right: 5px; 
  border-radius: 0px 3px 3px 0px;
  background-color: var(--system-grey2);
  margin-left: 0px;
  font-style: italic;
  position: relative;
  top: 1px;
}

.slashMe > .material-symbols-outlined {
  top: 2px;
  background-color: none;
}

.slashMe:not(p) {
  font-style: italic;
  position: relative;
  background-color: var(--system-grey2);
  top: -1px;
}

p.admin, p.user, p.error, 
span.admin, span.user, span.error,
a.admin, a.user, a.error {
  display: inline-block;
  color: var(--system-blue);
} 

p {
  display: inline-block;
}

b.admin{
  color: var(--system-blue);  
}

.admin.slashMe, b.admin {
  background-color: var(--system-blue2);
}
p.superadmin, b.superadmin, span.superadmin, a.superadmin {
  color: #00e500;
  font-variant-caps: small-caps;
  font-size: large;
}
b.superadmin, .superadmin.slashMe {
  background-color: var(--system-green2);
}

.superadmin.material-symbols-outlined {
  font-variant-caps: normal;
}

#userlist {
  color: var(--system-blue);
}

@font-face {
  font-family: "SupportText";
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v100/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
}

br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-top: 5px; /* change this to whatever height you want it */
}