#msgArea {
  /* width: calc(85% - 20px); */
  /* height: 77vh; */
  /* flex-shrink: 1; */
  /* flex-grow: 2; */
  /* height: 77vh; */
  /* float: left; */
  border: 2px solid var(--system-blue);
  text-align: left;
  padding: 10px;
  word-wrap: break-word;
  overflow-y: auto;
  overflow-x: clip;
  white-space: normal;
  border-radius: 10px;
}

#userList {
  flex-grow: 1;
  border-radius: 10px;
  /* width: calc(12% - 20px); */
  /* height: 77vh; */
  /* height: calc(77vh - 12px - 2em); */
  /* float: right; */
  border: 2px solid var(--system-blue);
  text-align: left;
  word-wrap: break-word;
  overflow-y: auto;
  padding: 10px;
  white-space: normal;
}
#containingDiv {
  white-space: nowrap;
  flex-wrap: nowrap;
  gap: 15px;
  width: 95%;
  margin: 0 auto;
  height: 79vh;
}
h2 {
  font-size: 2em;
}
hr.rounded {
  border: 2px solid var(--system-green);
  margin-top: 0px;
}
form {
  width: 95%;
  display: flex;
  /* gap: 30 */
  margin: 20px auto;
  text-align: left;
}
.anim.inp, #inpContainment, input {
  display: inline-block;
}
input {
  border: none !important;
}

#right {
  /* flex-shrink: 2; */
  width: 100px;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  flex-direction: column;
}
/* #right > h2 { */
  /* flex- */
/* } */
#inpContainment {
   width: calc(100% - 6.5em);
}

.time {
  display:inline-block;
  color: var(--system-grey);
  /* margin-left: 20px; */
}

#inpContainer {
  flex-grow: 6;
}
/* #inpContainment > input { */
  /* width: 99%; */
  /* margin: 0px 20px 0px 0px; */
/* } */
button#sendBtn {
  /* position: relative; */
  /* top: -34px; */
  padding-top: 0px !important;
}

#sendBtn > div.anim {
  margin-bottom: 0px;
}

#msgArea > a, 
#msgArea > p, 
#msgArea > span {
  white-space: pre-wrap;
  display: inline-block;
}
b {
/*   font-family: "SupportText", "Noto Sans Display"; */
  border-radius: 2px;
  background-color: var(--system-grey2);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  margin-bottom: 10px;
  vertical-align: top;
}
p {
  margin-left: 5px;
  margin-right: 10px;
}
.slashMe {
  margin-left: 0px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 100%;
/*   margin-left: 5px; */
}
h2 > span, .supportMsg {
  top: 5px;
  color: var(--system-blue);
}


div.msgContainer > div.msgContainer {
  margin-left: 10px;  
}

.msgContainer {
  position:relative;
  border-radius: 5px;
}
.bar {
  border: 2px solid var(--system-green);
  height: calc(100% - 3px);
  width: 0px;
  left: -6px;
  border-radius: 2px;
  position: absolute;
  top: 0px;
}
.activeReply {
  background-color: var(--system-blue2);
}
.msgContainer:hover {
  outline: 2px solid var(--system-grey);
}
.msgContents {
  width: calc(100% - 40px);
  cursor:pointer;
}
.msgContainer {
  margin-top: 5px;
  margin-bottom: 5px;
  /* cursor: pointer; */
}
.msgContents:hover > .options {
  opacity: 1;
}

.msgContents > .options {
  position: relative;
  display: none;
  top: 0px;
  opacity: 0;
  transition: all 0.5s ease;
   width: 40px;
}
.options > .btn {
  padding: 2px;
  height: 30px;
  width: 30px;
  border-radius: 5px;
}
.options > .btn > span.material-symbols-outlined:not(.override) 
{
  top: 0px;
  font-size: 18px !important;
}

p.slashMe {
  padding-right: 5px; 
  border-radius: 0px 3px 3px 0px;
  background-color: var(--system-grey2);
  margin-left: 0px;
  font-style: italic;
  position: relative;
  top: 1px;
}

.slashMe > .material-symbols-outlined {
  top: 2px;
  background-color: var(--system-transp);
}

.slashMe:not(p) {
  font-style: italic;
  position: relative;
  background-color: var(--system-grey2);
  top: -1px;
}

p.admin, p.user, p.error, 
span.admin, span.user, span.error,
a.admin, a.user, a.error {
  display: inline-block;
  color: var(--system-blue);
} 

p {
  display: inline-block;
}

b.admin{
  color: var(--system-blue);  
}

.admin.slashMe, b.admin {
  background-color: var(--system-blue2);
}
p.superadmin, b.superadmin, span.superadmin, a.superadmin {
  color: #00e500;
  font-variant-caps: small-caps;
  font-size: large;
}
b.superadmin, .superadmin.slashMe {
  background-color: var(--system-green2);
}

.superadmin.material-symbols-outlined {
  font-variant-caps: normal;
}

#userList {
  color: var(--system-blue);
}

#userList > p {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.bot {
  color: var(--system-green);
}

@font-face {
  font-family: "SupportText";
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v100/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
}
