compile = "./.config/build.sh; npm run build"
run = "npm run start"
entrypoint = "index.ts"
hidden = [".build", ".config"]
modules = ["python-3.10:v25-20230920-d4ad2e4"]

[packager]
language = "nodejs"

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = true

[env]
XDG_CONFIG_HOME = "/home/runner/.config"

[nix]
channel = "stable-22_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[languages]

[languages.typescript]
pattern = "**/{*.ts,*.js,*.tsx,*.jsx}"

[languages.typescript.languageServer]
start = "typescript-language-server --stdio"

[auth]
pageEnabled = false
buttonEnabled = false

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8765
externalPort = 8080
