details {
  position: absolute;
  bottom:0px;
  height: 20px;
  transition: height 0.3s;
  width: calc(100% - 30px);
  margin: 5px auto;
  left: 5px;
  background-color: var(--system-bg) !important;
}

.menu {
  transition: opacity 1s;
  opacity: 0;
  height: 0px;
  pointer-events: none;
}

.menu.open {
  opacity: 1;
  height: fit-content;
  pointer-events:all;
}

details[open] {
  height:20%;
  /* bottom: */
}
canvas {
  position: absolute;
  top:0px;
  left: 0px;
  touch-action: none;
  /* pointer-events: none; */
}
div#topBar {
  display: flex;
  padding-top: 5px;
  flex-wrap: wrap;
  position: absolute !important;
  top: 0px;
  width: 100%;
  background-color: var(--system-grey3);
  justify-content: center;
  align-items: baseline;
}
#time, #pServed {
  font-family:'Noto Sans Mono', monospace;
  font-size: 30px;
  margin-right: 10px;
}
span.material-symbols-outlined.sz30, span {
  font-size: 30px !important;
  top: 0px;
  color: var(--system-blue);
}
#popOuter {
  width: 200px;
  background-color: var(--system-blue2);
  text-align: left;
}
#popInner {
  background-color: var(--system-blue);
  transition: width 0.5s;
  white-space: nowrap;
}
#trainsAvailable, #balance {
  margin-right: 10px;
}